@charset "utf-8";
/* CSS Document */
/* Author: Huarwar Eruera */
/* Kingdom of Valour */

/* administration CSS Script */

.admin_fieldset {
	margin: 10px 30px 10px 15px;
}

	.administration_table {
		width: 100%;
		height: auto;
		padding: 0px 15px 0px 15px;
	}

	.button_area {
		padding: 10px 30px 0px 15px;
	}

		.admin_buttons {
			width: 80px;
		}
