@charset "utf-8";
/* CSS Document */
/* Author Huarwar Eruera */

.drawing_content_main_div {
	width: 70%;
	height: auto;

	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	margin-left: 25px;

}

.drawing_main_table {
	margin-top: 20px;
	margin-bottom: 20px;
}

.drawing_content_main_div th {
	width: 125px;
}
