@charset "utf-8";
/* CSS Document */
/* Author Huarwar Eruera */

.fishing_content_main_div {
	width: 70%;
	height: auto;

	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	margin-left: 25px;

}
