@charset "utf-8";
/* CSS Document */
/* Author: Huarwar Eruera */
/* Kingdom of Valour */

/* jobs/lockpicking CSS Script */

.guildranks_main_table {
	width: 100%;
	height: auto;

	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 15px;

}

	.guildranks_main_table td {
		text-align: center;
		border-bottom: 1px solid var(--color-base);
		border-right: 1px solid var(--color-base);
		padding: 5px;
	}
	.guildranks_main_table th {
		text-align: center;
		border-bottom: 1px solid var(--color-base);
		border-right: 1px solid var(--color-base);
	}

	.border_on_left {
		border-left: 1px solid var(--color-base);
	}

	.border_on_top {
		border-top: 1px solid var(--color-base);
	}
