@charset "utf-8";
/* CSS Document */
/* Author Huarwar Eruera */

/* HEADLINE Content */
.content_table_headline {
	font-size: 14pt;
	font-weight: bold;
	padding-top: 10px;
	font-variant: small-caps;
	border-bottom: dotted 1px var(--color-base);
}


.content_left_main {
	width: 75%;
	height: 100%;
	float: left;
}

	.content_left_main_table {
		padding-top: 0px;
		padding-right: 30px;
		padding-bottom: 10px;
		padding-left: 15px;
	}

		.news_box {
			padding: 0 0 0 0;
		}


.content_right_main {
	width: 25%;
	height: 100%;
	float: right;
}

	.content_right_main_table {
		padding_top: 0px;
		padding-right: 30px;
		padding-bottom: 10px;
		padding-left: 15px;

		border-left-style: ridge;
		border-left-width: 1px;
		border-left-color: var(--color-base);

		margin-top: 10px;
		margin-bottom: 10px;

	}
