@charset "utf-8";
/* CSS Document */
/* Author: Huarwar Eruera */
/* Kingdom of Valour */

/* lavacaveexit.php CSS Script */

#lavacave_content_main_div {
	width: 100%;
	height: auto;

	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 15px;

}

	#lavacave_content_main_div img {
		margin-top: 10px;
		align-self: left;
	}

.lavacave_table_rockmoves {
	width: 470px;
	height: auto;

	margin-top: 25px;

	border: 1px solid #FFF;


}

	.lavacave_table_rockmoves img {
		margin-top: 10px;
		align-self: left;
	}

	.lavacave_table_rockmoves th {
		text-align: center;
	}

	.lavacave_table_rockmoves td {
		text-align: center;
	}
