@charset "utf-8";
/* CSS Document */
/* Author: Huarwar Eruera */
/* Kingdom of Valour */

/* jobs/lockpicking CSS Script */

.lockpicking_main_section {
	margin-left: 20px;

}

.lockpicking_main_table {
	width: 80%;
	height: auto;

	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 25px;
}

	.lockpicking_main_table img {
		height: 30px;
	}
