@charset "utf-8";
/* CSS Document */
/* Author Huarwar Eruera */
/* Kingdom of Valour */

/* For quests section */

.quests_main_table {
	width: 100%;
	height: auto;
	
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 30px;
	padding-bottom: 10px;

	border-spacing: 0px;
	border-collapse: collapse;
}

.quests_main_table img {
	height: 30px;
}

.quests_main_table tr {
	/*border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #696969;*/
	height: 30px;
}

.quests_main_table td {
	vertical-align: bottom;
}

	#quests_main_table_header {
		font-variant: small-caps;
	}
	
	.quests_questnameColumn {
		min-width: 200px;
	}
	
	.quests_npcColumn {
		min-width: 150px;
	}
	
	.quests_areaColumn {
		min-width: 150px;
	}

		.quests_npcname_cell a {
			color: #FFF;
		}

		.quests_npcname_cell a:hover {
			color: #99CCFF;
			text-decoration: none;
		}
		

	
