<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/de.tudarmstadt.ukp.dkpro.argumentation.componentclassification/src/main/java/de/tudarmstadt/ukp/dkpro/argumentation/componentclassification/experiment/ComponentClassification.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.tudarmstadt.ukp.dkpro.argumentation.componentclassification.experiment.ComponentClassification"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="de.tudarmstadt.ukp.dkpro.argumentation.componentclassification"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
