@charset "utf-8";
/* CSS Document */
/* Author Huawar Eruera */
/* waywardkingdom */

/* Dropdown menu CSS Script */

ul#navigation_main {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 15pt;	
}

ul#navigation_main li {
	float: left;
	position: relative;
	list-style-type: none;
}

/* Font/Link color of buttons in navigation bar */
ul#navigation_main li a {
	color: #FFF;
}

/* Change in Color and style if hover over nagigation button */
ul#navigation_main li a:hover {
	color: #99CCFF;
	text-decoration: none;	
}

ul#navigation_main li.navigation_button_home {
	width: 100px;
}

ul#navigation_main li.navigation_button_quests {
	width: 100px;
}

ul#navigation_main li.navigation_button_items {
	width: 100px;
}

ul#navigation_main li.navigation_button_magic {
	width: 100px;
}

ul#navigation_main li ul.navigation_dropdown_menu {
	width: 110px;
	height: auto;
	
	font-size: 10pt;
	
	background-color: #000;
	position: absolute;
	border: solid 2px #080808;
	margin-top: 0px;
	margin-left: 0px;
	padding: 5px 5px 5px 5px;
	
	/* Make the dropdown menu invisible as long as we do not hover over it */
	visibility: hidden;
}

ul#navigation_main li ul li {
	display: block;
	float: none;
	
}

/* Make the dropdown menu visible, if we hover with the mouse over the button */
ul#navigation_main li:hover > ul {
	visibility: visible;
	opacity: 1;
	
}
